/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  inline-size: clamp(375px, 48.61vw, 100%);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  margin:0 auto;
  background-image: var(--bkg-image);
  background-attachment: fixed;
  padding: 102px 0 103px;
}

.header {
  display: flex;
  flex-direction: column;
font-family: var(--accent-font);
align-items: center;
border: 2px solid var(--accent-color);
background-color: var(--bkg-color);
margin:0 0 100px 0;
} 


.head_title {
  padding-top: clamp(7.5rem, 0rem + 100vw, 8.5rem);
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.head_subtitle {
  font-size: clamp(0.875rem, 0rem + 1600vw, 1.438rem);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu {
  padding: 21px 0;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  background: none;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
